.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.calculator .buttons button {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
    display: block; /* Display as block element */
    width: 100%; /* Take full width of its container */
    box-sizing: border-box; /* Include padding and border in the width */
}

.calculator .buttons button:hover {
    background-color: #e0e0e0;
}
h1{color: blue;font-size: 70px;}
.calculator .buttons{color: blue;}
background-image: repeating-linear-gradient(0deg, #a2a2c0, #a2a2c0 3.5px, transparent 3.5px, transparent);
background-size: 38px 38px;
background-color: #b7ced1;